<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>progression dashboard</title>
</head>

<body>

    <article class="hamburger-wrapper">
        <h1> Crossmarx Progression Dashboard
    </article>

    <label class="hamburger-menu">
        <input type="checkbox">
    </label>

    <aside class="sidebar">
        <nav>
            <div>This</div>
            <div>Is</div>
            <div>The</div>
            <div>Sidebar</div>
            <!-- <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li> -->
        </nav>
    </aside>