<%- include('partials/head') %>
    <%- include('partials/testing') %>

        <main>
            <div class="stakeholder-filter">
                <form action="/filter" method="POST">
                    <select name="filter" id="filter">
                        <option value="alles">Stakeholders</option>
                        <option value="cijfers">Fabriek Staal</option>
                        <option value="feedback">Supermarkt Jombu</option>
                        <option value="doelen">Nog iets</option>
                    </select>
                </form>
            </div>

            <article class="completed-bar">
                <h3>Completed</h3>
                <svg fill="none" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM4 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM16 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                        fill="#ffffff" class="fill-030708"></path>
                </svg>
            </article>
            <article class="completed-content">
                <img src="directus" alt="directus">
                <h4> Importeer naam hier </h4>
                <div class="score">Score komt hier</div>
            </article>
            <article class="completed-content">
                <img src="directus" alt="directus">
                <h4> Importeer naam hier </h4>
                <div class="score">Score komt hier</div>
            </article>
            <article class="completed-content">
                <img src="directus" alt="directus">
                <h4> Importeer naam hier </h4>
                <div class="score">Score komt hier</div>
            </article>
            <article class="completed-content">
                <img src="directus" alt="directus">
                <h4> Importeer naam hier </h4>
                <div class="score">Score komt hier</div>
            </article>
            <article class="completed-content">
                <img src="directus" alt="directus">
                <h4> Importeer naam hier </h4>
                <div class="score">Score komt hier</div>
            </article>
            <article class="add-items">
                <button class="popover">+ Add new item</button>
            </article>

        </main>


        </body>

        </html>