<%- include('partials/head') %>
    <%- include('partials/testing') %>

        <main>
            <article class="example">
                <h2>Progression Dashboard</h2>
                <p>Welkom op de progression dashboard van de opleiding Communication and Multimedia Design. Dit
                    dashboard is gemaakt om jouw voortgang in de opleiding bij te houden. Je kunt hier je cijfers en
                    feedback van de afgelopen periodes bekijken. Ook kun je hier je persoonlijke ontwikkeling bijhouden
                    en je doelen voor de toekomst vastleggen.</p>
            </article>
        </main>


        </body>

        </html>