svg {
    width: 20px;
    height: 20px;
    fill: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --bar-width: 50px;
    --bar-height: 4.5px;
    --hamburger-gap: 6px;
    --hamburger-margin: 20px;
    --foreground: white;
    --background: black;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --spacing-border-margin: 1rem 1.5rem 0 1.5rem;
    --content-border-margin: .5rem 1.5rem 0 1.5rem;
    --sdg-content-height: 4rem;
    --border-radius: 5px;
    --filter-height: 2rem;
    --filter-width: 9rem;
    --content-background: #EEEEEE;
    --bars-background: #6C6C6C;
}

/* #region NAVIGATION */

.hamburger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.5rem;
    background-color: black;
    border-radius: 0 0 5px 5px;
}

h1 {
    color: white;
    z-index: 3;
    font-size: 15px;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 3;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: black;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}


.hamburger-menu input {
    margin: 0;
    padding: 0;
    appearance: none;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform var(--animation-timing);
    transform: translateY(-100%);
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background: var(--background);
    color: var(--foreground);
    max-width: 100%;
    min-height: 100vh;
    border-radius: 0 0 10px 10px;
}

.hamburger-menu:has(input:checked)+.sidebar {
    transform: translateX(0);
}


/* https://www.youtube.com/watch?v=dAIVbLrAb_U */

/* #endregion NAVIGATION */

/* #region CONTENT */

.stakeholder-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--content-background);
    height: 6rem;
    margin: var(--content-border-margin);
    padding: .5rem;
    border-radius: var(--border-radius);
}

select {
    /* appearance: none;
    -webkit-appearance: none; */
    background-color: black;
    color: white;
    height: var(--filter-height);
    width: var(--filter-width);
    border-radius: var(--border-radius);
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.61);
}

/* #endregion CONTENT */

/* #region COMPLETED AREA */

.completed-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-border-margin);
    border-radius: 5px 5px 0 0;
    height: 3rem;
    background-color: var(--bars-background);
    color: white;

    & svg {
        margin: 0 1.5rem 0 0;
    }

    & h3 {
        margin: 0 0 0 1.5rem;
    }
}

.completed-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--content-background);
    margin: var(--content-border-margin);
    height: var(--sdg-content-height);

    & img {
        margin: 0 0 0 1.5rem;
    }
}

.score-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2.5rem;
    margin: 0 1.5rem 0 0;
    background-color: grey;
    color: white;
    gap: 0.5rem;
}

.add-items {
    display: flex;
    align-items: center;
    margin: var(--content-border-margin);
    background-color: var(--bars-background);
    height: 2rem;
    border-radius: 0 0 5px 5px;

    & button {
        margin: 0 0 0 1.5rem;
        background: transparent;
        border: none;
        color: white;
    }
}

/* #endregion COMPLETED AREA */

/* .popover {
    display: none;
    position: absolute;
    width: 135px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
    right: 20px;
    top: 260px;
}

@media screen and (max-width: 600px) {
    .popover {
        width: 75px;
    }
}

.popover.show {
    display: block;
}  */